ul
{list-style-type:none;
    width: 17%;
    height: 4%;
    border:1px solid black;
    background-color: grey;
    overflow: hidden;
}
li a
{
    display:block;
    text-decoration:none;
    float:left;
    /*to display list horizontally*/
    text-align: center;
    color:white;
    padding:5px;
    font-size:medium;
    
}
li a:hover
{
    background-color: black;
    color:blueviolet;
}
 

